:root {
    color-scheme: light dark;
    --green:#00df68;
    --yellow:#f1f500;
    --red:#fc4c5e;
    --black:#222;
    --gray:#999;
}

body {
    background-color: var(--black);
    font-family: "Reddit Mono", sans-serif;
    /* hasta el 300*/
    font-weight: 200;
    font-size: x-large;
    display: grid;
    place-content: center;
    padding: 50px;
}

section {
    padding: 30px;
    gap: 8px;
    max-width: 500px;
}

time {
    color: var(--yellow);
}

input {
    pointer-events: none;
}

segment {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 12px;
}

word {
    border-bottom: 1.5px solid transparent;
    transition: border-color 0.3s ease-in-out;
}
word.missed {
    border-color: var(--red);
}

char {
    color: var(--gray);
    position: relative;
}

@keyframes blink {
    0%, 20%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
}

char.active::before {
    content: "|";
    color: var(--yellow);
    position: absolute;
    margin: 0 -8px;
    animation: 1s blink infinite ease-in-out;
}

char.last-char::before {
    content: "|";
    margin: 0 8px;
}

.correct {
    color: var(--green);
    font-weight: 300;
}

.incorrect {
    color: var(--red);
    font-weight: 300;
}
